{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="large-6 medium-centered columns">
    <form id="change" class="" method="post">
      {{ child.name }} is {% if not object.in_class %}not{% endif %} in class.
      {% csrf_token %}
      {{ form.as_p }}
      <input class="success-button" type="submit" value="{{ object.in_class|yesno:"Pick Up,Drop Off" }}">
    </form>
  </div>
</div>
<div class="row">
  <div class="large-6 medium-centered columns">
    <p id="message" style="display:none">
      {{ child.name }} has been {{ object.in_class|yesno:"Picked Up,Dropped Off" }}
    </p>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $("#change").on("submit", function(e) {
    e.preventDefault()
    $(this).hide()
    $("#message").show()
    setTimeout(function(){
      $("#change").unbind("submit").submit()
    },4000);
  });
</script>
{% endblock %}
