{% extends 'base.html' %}
{% block child_list_active %}
active
{% endblock %}
{% block content %}

<div class="row">
  <div class="large-4 medium-centered columns">
    <h3>Children and Status</h3>
  </div>
  <div class="large-8 medium-centered columns">
    <table>
      <thead>
        <tr>
          <th width="150">Child Name</th>
          <th width="150">Parent Name</th>
          <th width="150">Status</th>
          <th width="150">PIN #</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td><a href="{% url 'child_checkin_log_list_view' object.id %}">{{ object.name }}</a></td>
          <td>{{ object.parent }}</td>
          <td>{{ object.status.status_of_child }}</td>
          <td>{{ object.pin }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
