{% extends 'base.html' %}
{% block child_form_active %}
active
{% endblock %}
{% block content %}

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="row">
    <div class="medium-4 columns">
      <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Child Name</label>
        {{ form.name }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <div class="fieldWrapper">
        {{ form.parent.errors }}
        <label for="{{ form.parent.id_for_label }}">Parent Name</label>
        {{ form.parent }}
      </div>
    </div>
    <div class="medium-4 columns">
    </div>
  </div>
  <div class="row">
    <div class="medium-2 columns">
      <div class="fieldWrapper">
        {{ form.age.errors }}
        <label for="{{ form.age.id_for_label }}">Child Age</label>
        {{ form.age }}
      </div>
    </div>
    <div class="medium-2 columns">
      <div class="fieldWrapper">
        {{ form.pin.errors }}
        <label for="{{ form.pin.id_for_label }}">4 Digit PIN Code</label>
        {{ form.pin }}
      </div>
    </div>
    <div class="medium-4 columns">

    </div>
  </div>
  <div class="row">
    <div class="medium-1 columns">
      <input type="submit" value="Add Child">
    </div>
  </div>
</form>
{% endblock %}
