h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

li {
  text-align: center;
}

th {
  text-align: center;
}

tr {
  text-align: center;
}

div {
  justify-content: center;
}
