{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Child Care</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" media="screen" title="no title">
  </head>
  <body>
  <div class="container-fluid">
    {% if request.user.profile.is_employee %}
    <ul class="menu">
      <li class="{% block home_active %}{% endblock %}"><a href="{% url 'index_view' %}">Home</a></li>
      <li class="{% block child_form_active %}{% endblock %}"><a href="{% url 'child_create_view' %}">Add Child</a></li>
      <li class="{% block child_list_active %}{% endblock %}"><a href="{% url 'child_list_view' %}">Child List</a></li>
      {% if not request.user.is_authenticated %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% else %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% endif %}
    </ul>
    {% endif %}
    <h1>Don't Cry Daycare</h1>


    {% block content %}
    {% endblock %}


  </div>
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
  </body>
</html>
