{% extends 'base.html' %}
{% block home_active %}
active
{% endblock %}
{% block content %}

{% if not request.user.Profile.is_employee %}
<div class="row">
  <div class="large-6 medium-centered columns">
    <br>
    <form class="" action="{% url 'blah_view' %}" method="get">
      <input type="text" name="pin">
      <input type="button" value="NEXT">
    </form>
  </div>
</div>
{% endif %}
<br>
<br>
<div class="row">
  <div class="large-3 medium-centered columns">
    {% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}">Employee? Login Here</a>
    {% else %}
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
  </div>
</div>
{% endblock %}
